* {
  margin: 0;
}

.home-row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}
.body-info {
  color: darkgray;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100vw / 2.5);
  font-style: italic;
}
